<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'partials/head-default.njk' %}
  {% include 'partials/meta-tags-default.njk' %}
</head>
<body class="home">
  <main class="container">
    <header class="banner theme">
    {% include 'partials/logo.njk' %}
      {% include 'partials/nav.njk' %}
      <div class="download-box banner-box">
        <h2 class="subtitle">Alpha testers' download page</h2>
        <p>Please download and try the app, and send in your feedback using the form or by emailing Ali directly.</p>
        <a class="button medium" data-analytics="download-alpha-test" href="https://downloads.keypa.ws/KeyPaws{{keypaws.version_number}}.zip" title="Get KeyPaws to cat-proof your computer">Download KeyPaws for Mac</a>
        <p>
          <a class="button smaller" href="./feedback/">Feedback form</a>
        </p>
      </div>
      <pre role="presentation" class="blinking-kitty" tabindex="-1">
 /\___/\
(  o o  )
(  =^=  )
(        )
(         )
(          )
(           )
(            )____£$tr2frfgre??@£34r893j4r893j4r30ru430r49u03rtu430jtu4fg308gf389h3f43f43f43f43fr3
</pre>

    </header>
 
    <section class="wide reverse-theme first-wide quotes">
      {% include 'partials/quote.njk' %}
    </section>
    <section class="wide tone fourth-wide">
      {% include 'partials/gift-widget.njk' %}
    </section>
    <footer class="wide theme">
      {% include 'partials/footer.njk' %}
    </footer>
  </main>
  </body>
  {%include 'partials/scripts.njk' %}
  {% include 'partials/analytics.njk'%}
</html>