<!DOCTYPE html>
{% include 'partials/head.njk' %}
<body class="home">
  <main class="container">
    <header class="banner theme">
      {% include 'partials/nav.njk' %}
      <div class="banner-box">
        <h2 class="subtitle">Cat-proof your keyboard</h2>
        <p>KeyPaws protects your work from uninvited paw presses. Please download and try the app, and send in your feedback.</p>
        <a class="button medium" data-analytics="download" href="https://downloads.keypa.ws/KeyPaws{{keypaws.version_number}}.dmg" title="Get KeyPaws to cat-proof your computer">Download KeyPaws for Mac</a>
        <p>
          <a class="button smaller" href="./feedback/">Feedback form</a>
        </p>
      </div>
      <pre class="homepage-kitty">
 /\___/\
(  o o  )
(  =^=  )
(        )
(         )
(          )
(           )
(            )____£$tr2frfgre??@£34r893j4r893j4r30ru430r49u03rtu430jtu4fg308gf389h3f43f43f43f43fr3
</pre>

    </header>
    {% include 'partials/noun_cat paw_1605399.svg' %}
    {% include 'partials/features.njk' %}
    {% include 'partials/quote.njk' %}
    {% include 'partials/footer.njk' %}
  </main>
  <script src="/js/home-kitty.js"></script>
  <script src="/js/analytics.js"></script>
</body>
</html>