<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'partials/head-default.njk' %}
  {% include 'partials/meta-tags-default.njk' %}
</head>
<body class="dark">
  <main class="container">
    <header class="banner group theme">
      <h1 class="logo">
        <a href="/alpha-test/"><img src="/img/keypaws-icon.png" alt="KeyPaws App Icon"/>KeyPaws</a>
      </h1>
    </header>
    {% include 'partials/large-paws.svg' %}
    <div class="buy-box">
      <h2>{{ pagetitle }}</h2>
      <p>Thank you so much for taking the time to give feedback. This will enable us to make KeyPaws the best it possibly can be before being released to the wider public.</p>
      <p>All fields are optional.</p>
      <form name="feedback" data-netlify="true" method="POST">
        <label for="name">Your name</label>
        <input type="text" id="name" name="name"/>
        <label for="email">Your email</label>
        <input type="email" id="email" name="email"/>
        <label for="version">KeyPaws Version</label>
        <input type="version" id="version" name="version"/>
        <label for="mac-version">Mac OSX Version</label>
        <input type="mac-version" id="mac-version" name="mac-version"/>
        <label for="files">Files (please zip for multiple files)</label>
        <input type="file" id="files" name="files"/>
        <label for="how-improve">How could
          <strong>KeyPaws</strong>
          be improved?</label>
        <textarea id="how-improve" name="how-improve"></textarea>
        <label for="testimonial">Testimonial</label>
        <textarea id="testimonial" name="testimonial"></textarea>
        <div class="wrapper">
          <input type="checkbox" name="consent" id="consent"/>
          <label for="consent">By ticking the checkbox you allow KeyPaws to publish your testimonial alongside your firstname. Please leave blank if no testimonial. Your email will never be published or shared with anyone. We are collecting any information you provide for the sole purpose of improving the app.</label>

        </div>
        <button>Submit your feedback</button>
      </form>

    </div>
    {{ content | safe }}
    {% include 'partials/footer.njk' %}

  </main>
  </body>
  {%include 'partials/scripts.njk' %}
</html>