<!DOCTYPE html>
{% include 'partials/head.njk' %}
<body class="light">
  <main class="container">
    <header class="banner group theme">
      <h1 class="logo">
        <a href="/home"><img src="/img/keypaws-icon.png" alt="KeyPaws App Icon"/>KeyPaws</a>
      </h1>
      {% include 'partials/nav.njk' %}
    </header>
    {% include 'partials/noun_cat paw_1605399.svg' %}
    <div class="buy-box">
      <h2>{{ pagetitle }}</h2>
      <p>KeyPaws costs £5 and includes lifetime updates.</p>
      <p>Enjoy peace of mind with our <strong>60 day money-back guarantee</strong></p>
      <button id="checkout-button-sku_GaaAQLDAoayR6V" role="link">
        Credit/Debit card purchase
      </button>
      <div id="error-message"></div>
    </div>
    {{ content | safe }}
    {% include 'partials/get-first-wide.njk' %}
    {% include 'partials/get-quote.njk' %}
    {% include 'partials/footer.njk' %}

  </main>
</body>
</html>