<!DOCTYPE html>
{% include 'partials/head.njk' %}
<body class="holding">
  <main class="container">
    <pre class="pre-text">
 /\___/\
(  o o  )
(  =^=  )
(        )
(         )
(          )____£$tr2frfgre??@£
</pre>
    <header class="holding">

      <h1>KeyPaWs</h1>
      <h2>Cat-proof your keyboard</h2>
    </header>
    <section class="welcome">
      <p>How many times have you found your cat sitting on your keyboard, oblivious to the chaos they're causing onscreen?</p>
      <p>
        <strong class="title-text keypaws">KeyPaws</strong>
        is a clever little tool that runs in the background and pauses your computer whenever kitty takes a nap on your keys.</p>
      <p class="launching-soon">
        <strong class="title-text keypaws">KeyPaws</strong>
        is launching soon. Sign up below to be notified:</p>
      <form netlify="netlify">
        <label for="email">Email:</label>
        <input type="email" required="required" name="email" id="email" labelled-by="email"/>
        <button class="medium title-text">Sign up meow!</button>
      </form>
    </section>

  </main>
</body>
</html>   
   
