<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'partials/head-default.njk' %}
  {% include 'partials/meta-tags-default.njk' %}
</head>
<body class="home">
  <main class="container">
    <header class="banner theme">    
      {% include 'partials/logo.njk' %}
      {% include 'partials/nav.njk' %}
    </header>

    <div class="first-narrow">
      <div class="banner-box" id="download">
        <h1 class="title"><span class="desktop-hide">KeyPaws<br/></span> Cat-proof your keyboard</h1>
        {% include 'partials/smart-signup.njk' %}
      </div>
{% include 'partials/blinking-kitty.njk' %}

    </div>
   
    <div class="wide reverse-theme first-wide">
      {% include 'partials/attention-grab.njk' %}
    </div>

    {{ content | safe }}

    <footer class="wide theme">
      {% include 'partials/footer.njk' %}
    </footer>
  </main>
</body>
{%include 'partials/scripts.njk' %}
{% include 'partials/analytics.njk' %}
</html>