<!DOCTYPE html>
<head>
{% include 'partials/head-default.njk' %}
{% include 'partials/meta-tags-default.njk' %}
</head>
<body class="home">
  <main class="container">
    <header class="banner theme">
      {% include 'partials/nav.njk' %}
      <div class="banner-box" id="download">
        <h2 class="subtitle">Cat-proof your keyboard</h2>
        <p>KeyPaws protects your work from uninvited paw presses. To get a lifetime license key
          <strong>FOR FREE</strong>, please sign up for our pre-launch trial:</p>
        <form name="alpha-signup" netlify="netlify" class="inline-form" action="/signup-success">
          <label for="email" class="screen-reader-text">Email:</label>
          <input type="email" required="required" placeholder="Your email" name="email" id="email" labelled-by="email"/>
          <button class="medium title-text inline-smaller" ">Sign up meow!</button>
        </form>
      </div>
      <pre role="presentation" class="blinking-kitty">
 /\___/\
(  o o  )
(  =^=  )
(        )
(         )
(          )
(           )
(            )____£$tr2frfgre??@£34r893j4r893j4r30ru430r49u03rtu430jtu4fg308gf389h3f43f43f43f43fr3
</pre>

    </header>
    {% include 'partials/large-paws.svg' %}
    <div class="wide reverse-theme first-wide">
      {% include 'partials/attention-grab.njk' %}
    </div>
    <section class="feature-list wide second-wide">
      {% include 'partials/features.njk' %}
    </section>
    <section class="wide theme third-wide quotes">
      {% include 'partials/quote.njk' %}
    </section>
    <section class="wide tone fourth-wide">
      {% include 'partials/gift-widget.njk' %}
    </section>
    <footer class="wide reverse-theme">
      {% include 'partials/footer.njk' %}
    </footer>
  </main>
  <script src="/js/theme-switcher.js"></script>
  <script src="/js/blinking-kitty.js"></script>
</body>
</html>