<!DOCTYPE html>
<head>
  {% include 'partials/head-default.njk' %}
  {% include 'partials/meta-tags-default.njk' %}
</head>
<body class="home">
  <main class="container">
    <header class="banner theme">
      {% include 'partials/nav.njk' %}
      <div class="banner-box" id="download">
        <h1 class="title">Cat-proof your keyboard</h1>
        {% include 'partials/smart-signup.njk' %}
      </div>
      <pre role="presentation" class="blinking-kitty" tabindex="-1">
 /\___/\
(  o o  )
(  =^=  )
(        )
(         )
(          )
(           )
(            )____£$tr2frfgre??@£34r893j4r893j4r30ru430r49u03rtu430jtu4fg308gf389h3f43f43f43f43fr3
</pre>

    </header>
    {% include 'partials/large-paws.svg' %}
    <div class="wide reverse-theme first-wide">
      {% include 'partials/attention-grab.njk' %}
    </div>
    <section class="feature-list wide second-wide">
      {% include 'partials/features.njk' %}
    </section>
    <section class="wide theme third-wide quotes">
      {% include 'partials/quote.njk' %}
    </section>
    <section class="wide reverse-theme opposite fourth-wide">
      {% include 'partials/gift-widget.njk' %}
    </section>
    <footer class="wide theme">
      {% include 'partials/footer.njk' %}
    </footer>
  </main>
</body>
{%include 'partials/scripts.njk' %}
</html>