<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/head-default.njk' %}
    {% include 'partials/meta-tags-default.njk' %}
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body class="dark">
    <main class="container">
      <header class="banner group theme">
      {% include 'partials/logo.njk' %}
        {% include 'partials/nav.njk' %}
      </header>
      <div class="banner theme first-narrow content">
        <div class="buy-box">
          <h2>{{ pagetitle }}</h2>

          {% include 'partials/loading.njk' %}
          <div class="slowly">
            <p>We are confirming your payment. Thank you for your patience.</p>
          </div>
          <div class="error">
            <p>Something has gone wrong. Please
              <a href="mailto:miaow@keypa.ws">contact us</a>
              using the email address you used on the previous page.</p>
            <p>Sincerest apologies,</p>
            <p>Ali & Merlin</p>
          </div>
          <div class="success">
            <p>Thank you for your payment.</p>
            <article id="license" class="reverse-theme license-box">
              <h1 class="text-medium"><img src="/img/keypaws-icon-64.png" alt="" role="presentation"/>
                KeyPaws License</h1>
              <p>This license conpurrs upon the bearer the right to use and enjoy KeyPaws in pawpetuity.</p>
              <dl>
                <dt>License holder</dt>
                <dd id="license-name" class="title-text"></dd>
                <dt>Licensee's email</dt>
                <dd id="license-email" class="title-text"></dd>

                <dt>License key</dt>
                <dd id="license-license" class="title-text"></dd>

              </dl>
              <div class="signed">
                <p>Signed,<br/>
                Ali & Merlin</p>
              </div>
            </article>

          </div>
        </div>
        {% include 'partials/blinking-kitty.njk' %}
      </div>
    </div>
    {{ content | safe }}
    {% include 'partials/large-paws.svg' %}
    <section class="wide reverse-theme first-wide quotes">
      {% include 'partials/quote.njk' %}
    </section>
    <section class="wide tone third-wide opposite">
      {% include 'partials/gift-widget.njk' %}
    </section>
    <footer class="wide theme">
      {% include 'partials/footer.njk' %}
    </footer>
  </main>

</body>
{%include 'partials/scripts.njk' %}

<script src="/js/license.js"></script>
</html>