/* Sharer */

.sharer {
  position: relative;
  z-index: 14;
  display: inline-block;
}

@media (max-width: 700px) {
  .banner-box .sharer {
    margin-bottom: 5rem;
  }
}

.dir-rtl .sharer {
  right: auto;
  left: 3rem;
}

.dir-rtl .translate-section {
  right: auto;
  left: 11rem;
}

.sharer button {
  cursor: pointer;
}

.sharer ul {
  border-radius: 40px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  color: white;
  background: var(--bg-light-theme);
  margin: 0 0 3rem 0;
  border: none;
  list-style: none;
  transition: all 0.25s ease;
  position: absolute;
  opacity: 1;
  bottom: 0;
  animation: fadeIn 0.5s both;
  text-align: left;
}

.sharer ul.hidden {
  margin-bottom: -8rem;
  display: none;
  transition: all 0.5s ease;
  animation: fadeOut 0.25s both;
}

 

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.sharer li {
  margin-bottom: 0rem;
}

.sharer.translate-section li {
  font-size: var(--px-16);
}

.sharer li a,
.light .reverse-theme .sharer a,
.light .reverse-theme .sharer a:visited,
.sharer li a:visited {
  display: block;
  text-decoration: none;
  padding: 0.25rem 0;
  padding-left: 1.5rem;
  background-size: 1rem;
  background-position: center left;
  background-repeat: no-repeat;
  color: var(--text-medium-light-theme);
}

.dir-rtl .sharer li a,
.dir-rtl .sharer li a:visited {
  padding: 0.25rem 0 0;
  padding-right: 1.5rem;
  background-position: center right;
}

.sharer li.fb a {
  background-image: url("../img/facebook.svg");
}
.sharer li.tt a {
  background-image: url("../img/twitter.svg");
}
.sharer li.wa a {
  background-image: url("../img/whatsapp.svg");
}
.sharer li.el a {
  background-image: url("../img/email.svg");
}


.sharer li a:hover,
.sharer li a:active {
  text-decoration: underline;
}

.wa-desktop {
  display: block;
}

.wa-mobile {
  display: none;
}

@media (max-width: 900px) {
  .wa-desktop {
    display: none;
  }

  .wa-mobile {
    display: block;
  }
}
