{
  "plugins": ["prettier", "html"],
  "rules": {
    "prettier/prettier": "error"
  },

  "globals": {
    "nw": "writable",
    "settings": "writable",
    "describe": "readonly",
    "beforeEach": "readonly",
    "it":"readonly"
  },

  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended"]
}
