{
  "plugins": ["prettier", "html"],
  "rules": {
    "prettier/prettier": "error"
  },

  "globals": {
    "nw": "writable",
    "currentPageNyanInstance": "writable",
    "setCurrentTheme":"writable",
    "catContainer":"writable",
    "settings": "writable",
    "describe": "readonly",
    "beforeEach": "readonly",
    "it": "readonly"
  },

  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "globalReturn": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended"]
}
