src/node_modules
node_modules
background/*
downloads/*.dmg
.DS_Store
__pycache__
dist
build
Keypa.ws/*
ship-mac/*.app
ship-mac/*.zip
downloads/*.zip
model/*
ship-mac/*.dmg
keypaws0.1.0.dmg
.env
capture/*.csv
ship-site/*
model/KeyPaws.mlproj/Data Sources/*
# Local Netlify folder
.netlify