src/node_modules
.cache
node_modules
background/*
downloads/*.dmg
.DS_Store
__pycache__
dist
build
Keypa.ws/*
ship-mac/*.app
ship-mac/*.zip
downloads/*.zip
model/*
model/KeyPaws.mlproj/Model\ Containers/*.json
ship-mac/*.dmg
keypaws0.1.0.dmg
.env
capture/**/*.csv
capture/**/*.json
ship-site/*
archive/*
model/KeyPaws.mlproj/Data Sources/*
# Local Netlify folder
.netlify
keypaws.spec
trigger.spec
downloads/_headers
lambda-built
keypaws.onnx
kp.onnx
todo.txt