---
title: About KeyPaws
pageClass: 'about'
subtitle: What's this all about?
layout: layouts/about.njk
language: 'en'
permalink: '/about/'
dir: 'ltr'
pagetitle: About KeyPaws
---

<div class="banner theme first-narrow content">
  <div class="page narrow">
    <section>
      <h1 class="title-text subtitle">Meet Merlin</h1>
      <div class="ali-merlin">
        <figure class="frame one">
          <img src="/img/merlin-ali/merlin-on-orb.jpg" srcset="/img/merlin-ali/merlin-on-orb@0.8x.jpg 320w, /img/merlin-ali/merlin-on-orb.jpg 800w" sizes="(max-width: 600px) 320px,800px" alt="Cute kitten perched on a reflective garden ornament"/>
        </figure>
        <figure class="frame two">
            <img src="/img/merlin-ali/merlin-on-blanket.jpg" srcset="/img/merlin-ali/merlin-on-blanket@0.8x.jpg 320w, /img/merlin-ali/merlin-on-blanket.jpg 800w" sizes="(max-width: 600px) 320px,800px" alt="Cute kitten lying on a blanket with its paws in the air"/>
        </figure>
      </div>


      <p>And this is me, his pet human – a designer and developer called Ali:</p>


      <div class="ali-merlin">
        <figure class="frame three">
   
            <img src="/img/merlin-ali/kitten-merlin-and-ali.jpg" srcset="/img/merlin-ali/kitten-merlin-and-ali@0.8x.jpg 320w, /img/merlin-ali/kitten-merlin-and-ali.jpg 800w" sizes="(max-width: 600px) 320px,800px" alt="Male human close-up face with sleeping kitten on shoulder"/>
        </figure>
        <figure class="frame two">
        <img src="/img/merlin-ali/ali-merlin-portrait-2.jpg" srcset="/img/merlin-ali/ali-merlin-portrait-2@0.8x.jpg 320w, /img/merlin-ali/ali-merlin-portrait-2.jpg 800w" sizes="(max-width: 600px) 320px,800px" alt="Male human in a coat with a cat on his shoulder with trees in the background"/>
               </figure>
      </div>

      <p>From day one Merlin loved my keyboard.</p>

      <figure class="frame one">
      <img src="/img/merlin-ali/kitten-merlin-on-unprotected-computer.jpg" srcset="/img/merlin-ali/kitten-merlin-on-unprotected-computer@0.5x.jpg 340w, /img/merlin-ali/kitten-merlin-on-unprotected-computer.jpg 680w" sizes="(max-width: 600px) 340px,800px" alt="Kitten lying on a computer keyboard with the search box of the Podcast app full of gobbledegook typing"/>
    
      </figure>
      <p>He's developed a taste for alternative podcasts.</p>
      <figure class="frame three">
        <img src="/img/merlin-ali/merlin-on-unprotected-computer.jpg" srcset="/img/merlin-ali/merlin-on-unprotected-computer@0.5x.jpg 340w, /img/merlin-ali/merlin-on-unprotected-computer.jpg 680w" sizes="(max-width: 600px) 340px,800px" alt="Cat lying on a computer keyboard"/>
      </figure>


      <p>But he causes chaos on my computer.</p>
      <p>So we sat down together and started working &ndash; some harder than others.</p>

      <figure class="frame one">

          <img src="/img/merlin-ali/merlin-helping-code.jpg" srcset="/img/merlin-ali/merlin-helping-code@0.5x.jpg 340w, /img/merlin-ali/merlin-helping-code.jpg 680w" sizes="(max-width: 600px) 340px,800px" alt="Merlin on a teal cushion licking his paws next to a computer screen covered in code.">
      </figure>
      <p>Eventually we got it working!</p>
      <p>Turns out treats dramatically increase cat productivity.</p>
      <figure class="frame two">
          <img src="/img/merlin-ali/merlin-on-protected-computer.jpg" srcset="/img/merlin-ali/merlin-on-protected-computer@0.5x.jpg 340w, /img/merlin-ali/merlin-on-protected-computer.jpg 680w" sizes="(max-width: 600px) 340px,800px" alt="Cat lying on a computer keyboard with the screen displaying that a cat is detected">
      </figure>
      <p><strong>KeyPaws</strong> was born.</p>
    </section>

  </div>
  <pre role="presentation" class="blinking-kitty" tabindex="-1">
 /\___/\
(  o o  )
(  =^=  )
(        )
(         )
(          )
(           )
(            )____£$tr2frfgre??@£34r893j4r893j4r30ru430r49u03rtu430jtu4fg308gf389h3f43f43f43f43fr3
</pre>
</div>
<section class="wide reverse-theme first-wide feature-list">
  <div class="content group">
    <h1 class="main-title title-text" style="text-align: center; padding:2rem 0 2rem;">Littered with clever features
    </h1>
    <article class="item">
      <div class="words">
        <h2>Artificial Intelligence that won't replace you</h2>
        <p>But will protect your computer from your cat. <strong>KeyPaws</strong> has been trained on hours of Ali
          and
          Merlin's typing. Based on this "machine learning", every second it makes a prediction about whether a cat or a
          human is typing.</p>
      </div>
      <figure role="presentation" class="paw"></figure>
    </article>
    <article class="item">
      <div class="words">
        <h2>Private by default</h2>
        <p><strong>KeyPaws</strong> requires no network access. The prediction happens on your computer, so your
          keystrokes
          remain completely private.</p>
      </div>
      <figure role="presentation" class="paw odd"></figure>
    </article>
    <article class="item">
      <div class="words">
        <h2>Launch at startup</h2>
        <p><strong>KeyPaws</strong> will launch at startup so you can set it and forget it.</p>
      </div>
      <figure role="presentation" class="paw"></figure>
    </article>
    <article class="item">
      <div class="words">
        <h2>Early warning system</h2>
        <p>You can choose for the icon to start flashing if it is starting to detect a cat – useful if it's actually you
          typing like a cat by accident!</p>
      </div>
      <figure role="presentation" class="paw odd"></figure>
    </article>

    <article class="item">
      <div class="words">
        <h2>A background purrocess</h2>
        <p><strong>KeyPaws</strong> gets out of your way, even if the cat won't.
        </p>
        
      </div>
      <figure class="screenshot border">
        <img src="/img/screenshots/runs-in-the-background.jpg"
        alt="Mac desktop showing a KeyPaws icon running as a process in the task bar, with a drop-down menu showing the options 'Settings' and 'Quit KeyPaws'" />
      </figure>
      

    </article>
    <article class="item">
      <div class="words">
        <h2>Light and dark themes</h2>
        <p>KeyPaws will match your chosen theme.</p>
        
      </div>
      <figure class="screenshot border">
        <img src="/img/screenshots/light-and-dark-themes.jpg"
        alt="Two Mac desktops overlaid showing the KeyPaws settings page in both light and dark themes" />
      </figure>
      
    </article>
    <article class="item">
      <div class="words">
        <h2>Nyan Cat is back!</h2>
        <p>Remember Nyan Cat? <strong>KeyPaws</strong> comes with a Nyan Cat theme.</p>
        
      </div>
      <figure class="screenshot border">
        <img src="/img/screenshots/nyan-cat-theme.jpg"
        alt="Mac desktop showing the KeyPaws settings page with a Nyan Cat theme" />
      </figure>
      
    </article>
 

 


    <div class="cta opposite">
      {% include 'partials/smart-signup.njk' %}
    </div>
 
  </div>
</section>

