<div class="content attention-grab">
  <ul class="tick-list">
    <li>You work from home</li>
    <li>Your friend works from home</li>
    <li>Cats love keyboards!</li>
  </ul>
  <div class="persuader">
    <p class="title">You
      <u>need</u>
      <strong>KeyPaws</strong>!</p>
    <p class="highlight">(Seriously, we actually built this – it's not a joke!)</p>
  </div>
</div>