<footer class="final-wide">
  <div class="content">
    <p class="copyright">&copy; KeyPaws 2020</p>


    <ul>
      <li><a href="/privacy">Privacy</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</footer>
