<div class="content">
  <ul>
    <li><a href="/contact">Contact Us</a></li>
    <li><a href="/privacy">Privacy Policy</a></li>
    <li><a href="/terms">Terms and Conditions</a></li>
    <li><a href="/accessibility">Accessibility</a></li>
  </ul>
    <p class="copyright">&copy; KeyPaws 2020</p>

</div>