<div class="content">
  <div class="footer-content">
    <ul>
      <li>
        <a class="contact" href="/contact">Contact Us</a>
      </li>
      <li>
        <a class="privacy" href="/privacy">Privacy Policy</a>
      </li>
      <li>
        <a class="terms" href="/terms">Terms and Conditions</a>
      </li>
      <li>
        <a class="accessibility" href="/accessibility">Accessibility</a>
      </li>
    </ul>
    <p class="copyright"><img class="right" src="/img/keypaws-icon-64.png" alt="" role="presentation"/>&copy; KeyPaws 2020</p>
  </div>
</div>