<section class="wide theme second-wide quotes">
  <div class="content">
    <blockquote><strong>KeyPaws</strong> gives me complete peace of mind that Merlin isn't going to do any damage when I leave my desk.</blockquote>
    <cite><img src="/img/ali.jpg">Merlin the cat's owner – Ali</cite>
  </div>
</section>