<div class="content">
  <blockquote>
    <strong>KeyPaws</strong>
    gives me complete peace of mind that Merlin isn't going to do any damage when I leave my desk.</blockquote>
  <cite><img src="/img/ali.jpg" alt="Headshot of Ali"><a href="https://www.linkedin.com/in/aliblackwell/" title="Alasdair Blackwell on LinkedIn">Merlin's owner and KeyPaws creator, Ali</a></cite>
</div>