<section class="wide tone first-wide mini-ctas">
  <div class="content">
    <div class="grid">
      <article>
        <h1>Get KeyPaws</h1>
        <p>Download KeyPaws now for yourself.</p>
        <a class="button smaller" href="/get">Get KeyPaws now</a>
      </article>
      <article>
        <h1>How it works</h1>
        <p>KeyPaws runs in the background of your computer, and uses an AI model to predict whether a cat or a human is currently typing.</p>
        <a class="button smaller" href="/about">More about KeyPaws</a>
      </article>
    </div>
  </div>
</section>