<section class="wide theme second-wide quotes">
  <div class="content">
    <blockquote><strong>KeyPaws</strong> was the perfect birthday present for my friend who works from home and has a cat!</blockquote>
    <cite><img src="/img/ali.jpg">Ali</cite>
  </div>
</section>