<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="icon" type="image/png" href="/favicon.png"/>
<title>{{title}}</title>
<link rel="stylesheet" href="https://use.typekit.net/miv3ibf.css"/>
<link rel="preload" as="style" href="/styles/variables.css"/>
<link rel="preload" as="style" href="/styles/accessible-foundations.css"/>
<link rel="preload" as="style" href="/styles/buttons.css"/>
<link rel="preload" as="style" href="/styles/forms.css"/>
<link rel="preload" as="style" href="/styles/typography.css"/>
<link rel="preload" as="style" href="/styles/sharer.css"/>
<link rel="preload" as="style" href="/styles/loading.css"/>
<link rel="stylesheet" href="/css/style.css" as="style"/>