<div class="content">
  <blockquote>
    Merlin enjoys his freedom &ndash; and I enjoy peace of mind, knowing my work is safe!</blockquote>
  <cite><img src="/img/ali.jpg" alt="Headshot of Ali"><a href="https://www.linkedin.com/in/aliblackwell/" title="Alasdair Blackwell on LinkedIn" target="_blank">KeyPaws creator, Ali</a></cite>
</div>