<div class="content">
  <blockquote>
    Thanks for visiting &mdash; carry on reading for the story of <strong>KeyPaws</strong>:</blockquote>
  <cite>
    <picture>
      <source type="image/webp" srcset="/img/ali-b.webp" />
    <img src="/img/ali-b.jpg" alt="Headshot of Ali">
    </picture>
    <a href="https://www.aliblackwell.com" title="Alasdair Blackwell's personal website" target="_blank">KeyPaws creator, Ali</a></cite>
</div>