<meta name="description" content="Cat-proof your computer with anti-cat keyboard software"/>
<meta property="og:title" content="KeyPaws">
<meta property="og:site_name" content="KeyPaws">
<meta property="og:url" content="https://www.keypa.ws">
<meta property="og:description" content="Cat-proof your computer with anti-cat keyboard software"/>
<meta property="og:type" content="website">
<meta property="og:image" content="https://www.keypa.ws/img/landscape-banner.png"/>
<meta property="og:image:width" content="1024"/>
<meta property="og:image:height" content="512"/>
<meta property="og:image:alt" content="Cat-proof your computer. KeyPaws. Download the app now for Mac (Windows coming soon!)"/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="KeyPaws"/>
<meta name="twitter:description" content="Cat-proof your computer with anti-cat keyboard software"/>
<meta name="twitter:url" content="https://www.keypa.ws"/>
<meta name="twitter:image" content="https://www.keypa.ws/img/square-banner.png"/>
<meta name="twitter:image:alt" content="Cat-proof your computer. KeyPaws. Download the app now for Mac (Windows coming soon!)"/>