<h1 class="logo">
  <a href="/"><img src="/img/keypaws-icon.png" alt="KeyPaws App Icon"/>KeyPaws</a>
</h1>
<nav>
  <ul>
    <li>
      <a href="/about/" class="story">Our story</a>
    </li>
    <li class="btn-holder">
      <a class="button smaller" href="/buy-license">Buy now</a>
    </li>
  </ul>

</nav>