
<nav>
  <ul>
    <li>
      <a href="/about/" class="story">Our story</a>
    </li>
    <li class="smart-el mac hidden" aria-hidden="true">
      <a href="/download-mac/" class="download">Download</a>
    </li>
    <li class="btn-holder smart-el mac mobile-mac">
      <a class="button smaller" href="/buy-license">Buy now</a>
    </li>
  </ul>

</nav>