<div class="content">
  <blockquote>
    <pre>jn;;;;;;;;;;;;;;;;;;;ou[r4
?¿¿¿¿¿¿¿dwcjklnnlkjfe  nll ]
lkmwf             kj</pre>
  </blockquote>
  <cite><a href="/about" title="Meet Merlin" data-analytics="merlin-quote-click"><img src="/img/merlin.jpg" alt="Cute kitten">Merlin the cat</a></cite>
</div>