<div class="content">
  <blockquote>
    <pre>jn;;;;;;;;;;;;;;;;;;;ou[r4
?¿¿¿¿¿¿¿dwcjklnnlkjfe  nll ]
lkmwf             kj</pre>
  </blockquote>
  <cite><img src="/img/merlin.jpg">Merlin the cat</cite>
</div>