<script src="/js/loading.js"></script>
<script src="/js/blinking-kitty.js"></script>
<script src="/js/analytics.js"></script>
<script src="/js/theme-switcher.js"></script>
<script src="/js/smart-display.js"></script>
<script src="/js/sharer.js"></script>