<article class="sharer share-section" aria-live="polite">
  <button class="ws-semibold smaller" onclick="sharePage()">Share KeyPaws</button>
  <ul aria-hidden="true">
    <li class="fb">
      <a class="share-link" data-analytics="share-fb" tabindex="-1" target="_blank" href="https://www.facebook.com/sharer.php?u=https://www.keypa.ws&t=KeyPaws: Cat-proof your keyboard">Facebook</a>
    </li>
    <li class="tt">
      <a class="share-link" data-analytics="share-tt" tabindex="-1" target="_blank" href="https://twitter.com/share?text=KeyPaws: Cat-proof your keyboard&url=https://www.keypa.ws">Twitter</a>
    </li>
    <li class="el">
      <a class="share-link" data-analytics="share-el" tabindex="-1" target="_blank" href="mailto:?subject=Check out KeyPaws&body=You will love this https://www.keypa.ws">Email</a>
    </li>
    <li class="wa wa-desktop">
      <a class="share-link" data-analytics="share-wa-d" tabindex="-1" target="_blank" href="https://wa.me?text=https://www.keypa.ws">WhatsApp</a>
    </li>
    <li class="wa wa-mobile">
      <a class="share-link" data-analytics="share-wa-m" tabindex="-1" href="whatsapp://send?text=https://www.keypa.ws" data-action="share/whatsapp/share">WhatsApp</a>
    </li>
  </ul>
</article>