---
title: Thank you for signing up
layout: layouts/page.njk 
language: 'en'
permalink: '/signup-success/'
dir: 'ltr'
---

<div class="banner theme first-narrow content">
  <div class="page wide narrow">
    <section>
      <p>Thanks for your interest in KeyPaws. We are working hard at bringing KeyPaws to your Operating System. In the meantime, please share KeyPaws with anyone who would love it (particularly those with Macs!):</p>
    <div class="cta opposite">
   {% include 'partials/sharer.njk' %}
    </div>
    </section>
 
  </div>
</div>



