/*style wrapper to give some space*/

.wrapper {
    position: relative;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/*style label to give some more space*/

.wrapper label {
    display: block;
    padding: 7px 0 0 53px;
    font-size: 1rem;
}

/*style and hide original checkbox*/

.wrapper input {
    height: 40px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 200px;
    z-index: 10;
    cursor: pointer;
}

.wrapper.disabled input {
    cursor: default;
}

.wrapper.disabled input+label::before {
    border: 2px solid rgba(255, 255, 255, 0.25);
}

.wrapper.disabled label {
    opacity: 0.25;
}

/*position new box*/

.wrapper input+label::before {
    border: 2px solid;
    content: "";
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
    border-radius: 50%;
}

/*radio pseudo element styles*/

.wrapper input+label::after {
    content: "";
    opacity: 0;
    border: 10px solid;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
    transition: opacity 0.2s ease-in-out;
}

/*reveal check for 'on' state*/

.wrapper input:checked+label::after {
    opacity: 1;
}

/*focus styles*/

.wrapper input:focus+label::before {
    box-shadow: 0 0 0 3px #ffbf47;
    outline: 3px solid transparent;
    /* For Windows high contrast mode. */
}