@import url('./styles/variables.css');
@import url('./fonts.css');
@import url('./styles/accessible-foundations.css');
@import  url('./styles/buttons.css');
@import url('./styles/forms.css');
@import url('./styles/typography.css');

.keypaws {
  color: var(--teal);
}

.text-small {
  color: var(--text-small-dark);
  font-size: var(--text-small);
  margin: 0;
}

.light .text-small {
  color: var(--text-medium-light-theme);
}

.nyan .text-small {
  color: var(--text-small-nyan);
}

.text-small.highlight {
  color: var(--text-highlight-dark);
}

.light .text-small.highlight {
  color: var(--text-highlight-light);
}

.nyan .text-small.highlight {
  color: var(--text-highlight-nyan);
}

.license-explainer {
  margin: 1rem;
}

.text-medium,
p,
label,
input,
h2 {
  color: var(--text-medium-dark);
  font-size: var(--text-medium);
}

input[type="text"] {
  color: var(--text-medium-light);
}

p, li, label, span, h1, h2, h3, h4, button, pre, img {
  user-select: none;
}

.light .text-medium,
.light p,
.light label,
.light input,
.light h2 {
  color: var(--text-medium-light);
}

.nyan .text-medium,
.nyan p,
.nyan label,
.nyan h2 {
  color: var(--text-medium-nyan);
}

.nyan input {
  color: var(--text-medium-light);
}

.text-medium.highlight,
h2 {
  color: var(--text-highlight-dark);
}

.light .text-medium.highlight,
.light h2 {
  color: var(--text-highlight-light);
}

.nyan .text-medium.highlight,
.nyan h2 {
  color: var(--text-highlight-nyan);
}

.text-large,
h1 {
  color: var(--text-large-dark);
  font-size: var(--text-large);
}

.light .text-large,
.light h1 {
  color: var(--text-large-light);
}

.nyan .text-large,
.nyan h1 {
  color: var(--text-large-nyan);
}

.text-large.highlight {
  color: var(--text-highlight-dark);
}

.light .text-large.highlight {
  color: var(--text-highlight-light);
}

.nyan .text-large.highlight {
  color: var(--text-highlight-nyan);
}



.drag-bar {
  -webkit-app-region: drag;
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: calc(13px + 0.6rem);
  right: 0;
  z-index: 5;
}


.container {
  margin: 0 auto 0;
  position: relative;
  height: 100%;
}

section {
  height: 100%;
}

pre {
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

h1 {
  margin: 0.5rem 0 1rem;
}

.welcome {
  margin-top: 1rem;
}

.welcome p:first-child {
  margin: 1rem 0 0;
  font-size: var(--text-large);
}

p {
  font-size: var(--text-medium);
}

.kitty {
  position: absolute;
  bottom: 0;
  left: -30rem;
  opacity: 0.1;
  z-index: -1;
}

main.container {
  padding: 3.8em 1rem 1rem 12.5rem;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: 1fr 2fr 2fr;
}

.welcome-grid {
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: 3fr 3fr;
  margin-right: 3rem;
}

.grid-img {
  grid-template-columns: 1fr 3fr;
  margin-right: 0rem;
}

.step.hidden {
  display: none;
}

.updated {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

article h3 {
  margin-top: 0;
  color: var(--teal);
  text-transform: uppercase;
}

.wrapper label {
  font-family: omnes-cond, sans-serif;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 0.5rem;
  display: inline-block;
}

dd {
  font-family: omnes-cond, sans-serif;
  font-weight: 700;
  font-style: normal;
}

pre.kitcat {
  position: fixed;
  color: var(--text-highlight-dark);
  bottom: 1rem;
  left: 2.5rem;
  z-index: -1;
  font-size: var(--text-medium);
  font-weight: 400;
}

.light pre.kitcat {
  color: var(--text-highlight-light);
}

.nyan pre.kitcat {
  color: var(--text-highlight-nyan);
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

dt {
  float: left;
  clear: both;
}

dd {
  float: right;
}

#auto-update {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  text-align: right;
}

#theme-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 100%;
  z-index: -1;
}

#kitty-lit {
  margin-left: -50rem;
}

.cat-detected h1 {
  font-size: 10vw;
  text-align: center;
}

.cat-detected button {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.cat-detected pre {
  font-size: 3vw;
  position: absolute;
  bottom: 2vh;
  left: 2vw;
  color: var(--text-highlight-dark);
}

.light .cat-detected pre {
  color: var(--text-highlight-light);
}

.nyan .cat-detected pre {
  color: var(--text-highlight-nyan);
}

.cat-detected #content {
  height: 34vh;
  top: 50%;
  width: 100%;
  margin-top: -21vh;
  position: absolute;
}

body {
  overflow-x: hidden;
}

html {
  overflow: hidden;
}