:root {
  --text-medium: 20px;
  --text-large: 1.8rem;
  --text-small: 0.8rem;
  --line-height: 1.2;
  --box-width: 30rem;
  --outline-focus: #fafa00;
  --bg-dark: #006060;
  --bg-light: #edbec2;
  --bg-nyan: #036;
  --text-small-dark: #fff;
  --text-small-light: #aaaaaa;
  --text-small-nyan: #fff;
  --text-medium-dark: #fff;
  --text-medium-light: #111;
  --text-medium-nyan: #fff;
  --text-large-dark: #fff;
  --text-large-light: #000000;
  --text-large-nyan: #fff;
  --teal-darker: #006060;
  --pink: #d93b58;
  --text-highlight-dark: #edbec2;
  --text-highlight-dark-shadow: #f1d8da;
  --text-highlight-light: #006060;
  --text-highlight-light-shadow: #003d3d;
  --text-highlight-nyan: #dd91dc;
  --text-highlight-nyan-shadow: #ff3299;
}

.text-small {
  color: var(--text-small-dark);
  font-size: var(--text-small);
  margin: 0;
}

.light .text-small {
  color: var(--text-small-light);
}

.nyan .text-small {
  color: var(--text-small-nyan);
}

.text-small.highlight {
  color: var(--text-highlight-dark);
}

.light .text-small.highlight {
  color: var(--text-highlight-light);
}

.nyan .text-small.highlight {
  color: var(--text-highlight-nyan);
}

.text-medium,
p,
label,
input,
h2 {
  color: var(--text-medium-dark);
  font-size: var(--text-medium);
}

.light .text-medium,
.light p,
.light label,
.light input,
.light h2 {
  color: var(--text-medium-light);
}

.nyan .text-medium,
.nyan p,
.nyan label,
.nyan input,
.nyan h2 {
  color: var(--text-medium-nyan);
}

.text-medium.highlight,
h2 {
  color: var(--text-highlight-dark);
}

.light .text-medium.highlight,
.light h2 {
  color: var(--text-highlight-light);
}

.nyan .text-medium.highlight,
.nyan h2 {
  color: var(--text-highlight-nyan);
}

.text-large,
h1 {
  color: var(--text-large-dark);
  font-size: var(--text-large);
}

.light .text-large,
.light h1 {
  color: var(--text-large-light);
}

.nyan .text-large,
.nyan h1 {
  color: var(--text-large-nyan);
}

.text-large.highlight {
  color: var(--text-highlight-dark);
}

.light .text-large.highlight {
  color: var(--text-highlight-light);
}

.nyan .text-large.highlight {
  color: var(--text-highlight-nyan);
}

@font-face {
  font-family:omnes-cond-bold;
  src: url("./assets/fonts/OmnesCond-Bold.otf");
}

@font-face {
  font-family:omnes-cond;
  src: url("./assets/fonts/OmnesCond-Regular.otf");
}



.body-text {
  font-family: omnes-cond, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title-text {
  font-family: omnes-cond-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.keypaws {
  color: var(--teal);
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

/*
Core breakpoints
*/

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
  outline: 0;
}

*:focus {
  outline: 4px solid var(--outline-focus);
}

/*--------------------------------------------------------------
# Foundations
--------------------------------------------------------------*/

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  font-size: var(--text-medium);
  line-height: var(--line-height);
  text-rendering: optimizeLegibility;
  margin: 0;
  width: 100%;
  height: 100%;
  line-height: 1.4;
  overflow: hidden;
  overflow-y: scroll;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

/*--------------------------------------------------------------
# Core Typography
--------------------------------------------------------------*/

body,
button,
label,
select,
option,
li,
span,
optgroup {
  font-family: omnes-cond, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  background: var(--bg-dark);
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
  color: var(--text-color);
}

body.light {
  background: var(--bg-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: omnes-cond-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

.container {
  margin: 0 auto 0;
  position: relative;
  height: 100%;
}

section {
  height: 100%;
}

pre {
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

h1 {
  margin: 0.5rem 0 1rem;
}

.welcome {
  margin-top: 1rem;
}

.welcome p:first-child {
  margin: 1rem 0 0;
  font-size: var(--text-large);
}

p {
  font-size: var(--text-medium);
}

.kitty {
  position: absolute;
  bottom: 0;
  left: -30rem;
  opacity: 0.1;
  z-index: -1;
}

main.container {
  padding: 3.8em 1rem 1rem 12.5rem;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.welcome-grid {
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: 3fr 3fr;
  margin-right: 3rem;
}

.grid-img {
  grid-template-columns: 1fr 3fr;
  margin-right: 0rem;
}

.step.hidden {
  display: none;
}

.updated {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

article h3 {
  margin-top: 0;
  color: var(--teal);
  text-transform: uppercase;
}

.wrapper label {
  font-family: omnes-cond-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 0.5rem;
  display: inline-block;
}

dd {
  font-family: omnes-cond-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
}

pre.kitcat {
  position: fixed;
  color: var(--text-highlight-dark);
  bottom: 1rem;
  left: 4rem;
  z-index: -1;
  font-size: var(--text-medium);
  font-weight: 400;
}

.light pre.kitcat {
  color: var(--text-highlight-light);
}

.nyan pre.kitcat {
  color: var(--text-highlight-nyan);
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

dt {
  float: left;
  clear: both;
}

dd {
  float: right;
}

#auto-update {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  text-align: right;
}

#theme-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 100%;
  z-index: -1;
}

#kitty-lit {
  margin-left: -50rem;
}

.cat-detected h1 {
  font-size: 10vw;
  text-align: center;
}

button {
  font-size: var(--text-large);
  background: var(--text-highlight-dark);
  color: var(--text-large-light);
  border: none;
  font-family: omnes-cond-bold;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 40px;
  display: inline-block;
  margin: 15px 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  background:var(--text-highlight-dark);
  color: var(--text-large-light);
  box-shadow: 0 6px var(--text-highlight-dark-shadow);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border-radius: 40px;
}

button.medium {
  padding: 20px 32px;
  font-size: var(--text-medium);
}

button.smaller {
  padding: 10px 16px;
  font-size: var(--text-small);
}

.light button {
  background:var(--text-highlight-light);
  color: var(--text-large-dark);
  box-shadow: 0 6px var(--text-highlight-light-shadow);
}

.light button:hover {
  box-shadow: 0 4px var(--text-highlight-light-shadow);
top: 2px;
}

.nyan button {
  background:var(--text-highlight-nyan);
  color: var(--text-large-light);
  box-shadow: 0 6px var(--text-highlight-nyan-shadow);
}

.nyan button:hover {
  box-shadow: 0 4px var(--text-highlight-nyan-shadow);
top: 2px;
}

button:hover {
  box-shadow: 0 4px var(--text-highlight-dark-shadow);
top: 2px;
}

button::after {

  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.cat-detected button {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.cat-detected pre {
  font-size: 3vw;
  position: absolute;
  bottom: 2vh;
  left: 2vw;
  color: var(--text-highlight-dark);
}

.light .cat-detected pre {
  color: var(--text-highlight-light);
}

.nyan .cat-detected pre {
  color: var(--text-highlight-nyan);
}

.cat-detected #content {
  height: 34vh;
  top: 50%;
  width: 100%;
  margin-top: -21vh;
  position: absolute;
}