<!DOCTYPE html>
{% include 'partials/head.njk' %}
<body class="dark">
  <main class="container">
    <header class="banner group theme">
      <h1 class="logo">
        <a href="/alpha-test/"><img src="/img/keypaws-icon.png" alt="KeyPaws App Icon"/>KeyPaws</a>
      </h1>
    </header>
    {% include 'partials/noun_cat paw_1605399.svg' %}
    <div class="buy-box">
      <h2>{{ pagetitle }}</h2>
      <p>Thank you so much for taking the time to give feedback. This will enable us to make KeyPaws the best it possibly can be before being released to the wider public.</p>
      <p>All fields are optional.</p>
      <form>
        <label for="name">Your name</label>
        <input type="text" id="name" name="name" />
        <label for="email">Your email</label>
        <input type="email" id="email" name="email" />
        <label for="how-improve">How could <strong>KeyPaws</strong> be improved?</label>
        <textarea id="how-improve" name="how-improve"></textarea>
        <button>Submit your feedback</button>
      </form>

    </div>
    {{ content | safe }}
    {% include 'partials/alpha/footer.njk' %}

  </main>
</body>
</html>