<div class="wide reverse-theme first-wide">
  <div class="content attention-grab">
    <ul class="tick-list">
      <li>You work from home</li>
      <li>Your cat loves your keyboard</li>
      <li>Your work is at risk!</li>
    </ul>
    <div class="persuader">
      <p class="subtitle">You
        <u>need</u>
        <strong>KeyPaws</strong>!</p>
      <p class="highlight">(Seriously, we actually built this – it's not a joke!)</p>
    </div>
  </div>
</div>

<section class="feature-list wide second-wide">
  <div class="content group">
    <article class="first">
      <div class="words">
        <h1>Anti-cat keyboard</h1>
        <p><a href="https://www.petmd.com/cats-keyboards-why-they-love-them-and-what-you-can-do" target="_blank">Scientists have tried to explain</a> why cats love keyboards. The fact is, cats can wreak havoc on an unattended computer.</p>
        <p>KeyPaws is the ultimate anti-cat keyboard software that protects your work from kitty's typing.</p>
      </div>

      <figure>
        <img class="cat-typing odd" src="/img/cat1.webp"/>
      </figure>
    </article>
    <article class="second">
      <div class="words">
        <h1>Catproof keyboard</h1>
        <p>KeyPaws runs in the background of your computer, locking your screen and diverting any keypresses.</p>
        <p>Enjoy peace of mind knowing your cat can can't delete your work or send draft emails half-way through.</p>
      </div>
      <figure>
        <img class="cat-typing" src="/img/giphy1-1.gif"/>
      </figure>
    </article>
    <article class="third">
      <div class="words">
        <h1>Powered by AI {{process}}</h1>
        <p>KeyPaws is powered by a helpful AI model, trained on thousands of human and pussy cat keystrokes.</p>
        <p>It runs quietly in the background, launches at startup, and gently protects your computer against the cat.</p>
      </div>
      <figure>
        <img class="cat-typing odd" src="/img/cat-ai.gif"/>
      </figure>
    </article>
    <div class="cta opposite">
      <a href="https://downloads.keypa.ws/KeyPaws{{keypaws.version_number}}.dmg" class="button">Download now</a>
    </div>
  </div>
</section>