:root {
  --text-jumbo: 3rem;
  --text-large: 1.2rem;
  --text-medium: 20px;
  --text-small: 0.8rem;
  --line-height: 1.2;
  --box-width: 30rem;
  --outline-focus: #fafa00;

  --bg-dark-theme: #006060; /* acc */
  --bg-dark-theme-border: #003d3d;
  --text-medium-dark-theme: #ffeaeb; /* acc */
  --text-large-dark-theme: #fff;
  --text-medium-dark-theme-highlight: #edbec2;
  --text-large-dark-theme-highlight: #edbec2;

  --bg-light-theme: #eecfd1;
  --bg-light-theme-border: #f1d8da;
  --text-medium-light-theme: #003131; /* acc */
  --text-large-light-theme: #013c3c;
  --text-medium-light-theme-highlight: #006060;
  --text-large-light-theme-highlight: #006060;

  --bg-nyan-theme: #036;
  --bg-nyan-theme-border: #dd91dc;
  --text-medium-nyan-theme: #fff;
  --text-large-nyan-theme: #fff;
  --text-medium-nyan-content-highlight: #dd91dc;
  --text-large-nyan-content-highlight:#dd91dc;
   

  --bg-dark-content: #003535;
  --bg-dark-content-border: #0d6868;
  --bg-dark-mid-content: #444;
  --text-medium-dark-tone: #fff;
  --text-medium-dark-content: #fff;
  --text-large-dark-content: #fff;
  --text-medium-dark-content-highlight: #edbec2;
  --text-large-dark-content-highlight: #edbec2;

  --bg-light-content: #fafafa;
  --bg-light-content-border: #e2c4c6;
  --bg-light-mid-content: #ccc;
  --text-medium-light-tone: #111;
  --text-medium-light-content: #111;
  --text-large-light-content: #111;
  --text-medium-light-content-highlight: #006060;
  --text-large-light-content-highlight: #006060;

  --content-bg-dark: #111;
  --bg-light: #edbec2;
  --content-bg-light: #eee;
  --bg-nyan: #036;
  --text-small-dark: #fff;
  --text-small-light: #aaaaaa;
  --text-small-nyan: #fff;
  --text-medium-dark: #fff;
  --text-medium-light: #111;
  --text-medium-nyan: #fff;
  --text-large-dark: #fff;
  --text-large-light: #000000;
  --text-large-nyan: #fff;
  --teal-darker: #006060;
  --pink: #d93b58;
  --text-highlight-dark: #edbec2;
  --text-highlight-dark-shadow: #f1d8da;
  --text-highlight-light: #006060;
  --text-highlight-light-shadow: #003d3d;
  --text-highlight-nyan: #dd91dc;
  --text-highlight-nyan-shadow: #ff3299;
}

/*
Core breakpoints
*/

@media (max-width: 900px) {
  :root {
    --text-medium: 18px;
  }
}

@media (max-width: 600px) {
  :root {
    --text-jumbo: 2.5rem;
    --text-medium: 16px;
  }
}

@media (max-width: 480px) {
  :root {
    --default-20px: 16px;
    --pt-title: 1.8rem;
    --pt-subtitle: 1.2rem;
  }
}