@import url("../styles/variables.css");
@import url("../styles/accessible-foundations.css");
@import url("../styles/buttons.css");
@import url("../styles/forms.css");
@import url("../styles/typography.css");
@import url("../styles/sharer.css");
@import url("../styles/loading.css");

body {
  overflow-x: hidden;
}

pre {
  margin: 0;
}

header h1,
header h2 {
  margin: 0;
}

header h2 {
  font-size: var(--text-large);
  color: var(--text-highlight-dark);
}

.welcome {
  margin-top: 1rem;
  border-top: 0.5rem solid var(--bg-dark);
}

.welcome p:first-child {
  margin: 1rem 0 0;
}

.kitty {
  position: absolute;
  bottom: 0;
  left: -30rem;
  opacity: 0.1;
  z-index: -1;
}

.signup {
  width: 30rem;
  padding: 3rem;
  background: white;
  margin: 0 auto;
  text-align: left;
}

@media (max-width: 600px) {

  .home header {
    min-height: 40rem;
  }
}

header,
.content {
  max-width: 1200px;
  margin: 0px auto;
}

.page.narrow {
  max-width: 800px;
  margin: 0px auto;
}

@media (max-width: 600px) {
  header.holding {
    left: 7.4rem;
  }
  form input {
    width: 100%;
    float: none;
  }
  button {
    float: none;
  }
}

@media (max-width: 480px) {
  header.holding {
    left: 6.4rem;
  }
}

header h1.logo {
  font-size: var(--text-jumbo);
  margin-top: 0.5rem;
  float: left;
  margin-left: 2.5rem;
}

.theme h1.logo {
  color: var(--text-large-dark-theme-highlight);
}

h1.logo a {
  text-decoration: none;
  color: inherit;
}

header h1.logo img {
  width: 4rem;
  margin: 0 0.75rem 0 0;
  position: relative;
  top: 1rem;
}

header h2.subtitle {
  color: var(--text-large-dark-theme-highlight);
  position: relative;
  width: 100%;
  text-align: center;

  margin: 2rem 0 0;
  z-index: 5;
  line-height: var(--line-height);
}

.subtitle {
  font-size: var(--text-jumbo);
  width: 100%;
  text-align: center;
}

.banner-box p, .page p {
  font-size: var(--text-large);
  text-align: center;
  width: 65%;
  line-height: var(--line-height);
  margin: 0rem auto;
}

.banner-box a.button {
  margin: 1rem 0 0 0;
  position: relative;
  z-index: 10;
}

.buy-box {
  margin: 3rem auto 0;
  position: relative;
  width: 30rem;
  padding: 2.5rem 5rem 8rem;
  background: var(--bg-dark-content);
  border: 0.5rem solid var(--bg-dark-content-border);
  bottom: -2rem;
  z-index: 1;
}

.buy-box h2 {
  margin: 0;
}

#large-paws {
  position: fixed;
  top: 0;
  right: 0;
  width: 75%;
  z-index: -2;
  fill: rgba(255, 255, 255, 0.05);
}

@media (max-width: 600px) {
  #large-paws {
    position: absolute;
    right: -13%;
    width: 130%;
  }
}

.banner {
  position: relative;
}

.download-box {
  text-align: center;
  padding: 2rem 4rem;
  clear: both;
}

.download-box .button.medium {
  margin-top: 0;
}

.banner-box {
  text-align: center;
  padding: 2rem 4rem 8rem;
  clear: both;
}

.banner-box .inline-form input {
  width: 19rem;
}

.banner-box .inline-form {
  max-width: 15rem;
  margin: 0 auto;
}

.banner-box p {
  margin-bottom: 1rem;
}

.page p {
  margin-bottom: 2rem;
}

.banner-box .inline-form button {
  width: 8rem;
  flex-grow: 0;
  flex-shrink: 0;
}

@media (max-width: 700px) {
  banner-box .inline-form input {
    width: 13rem;
  }
  .banner-box .inline-form button {
    width: 5rem;
    padding-left: 0;
  }
}

pre.blinking-kitty {
  font-size: var(--text-large);
  color: var(--text-large-dark-theme);
  position: absolute;
  bottom: 0.2rem;
  transform: rotate(-0.8deg);
  width: 100%;
  overflow-x: hidden;
  z-index: -1;
}

.first-narrow pre.blinking-kitty {
  z-index: 1;
}

@media (max-width: 700px) {
  .buy-box {
    width: auto;
    margin: 1rem;
    padding: 1rem 1rem 3rem;
  }
  header h1.logo {
    margin: 0 0 0 1rem;
  }
  header h2.subtitle {
    margin-top: 0;
    line-height: 1;
    margin-bottom: 1rem;
  }
  .banner-box {
    padding: 2rem 1rem 2rem;
  }
  .banner-box p, .page p {
    width: 100%;
  }
  pre.blinking-kitty {
    font-size: var(--text-large);
    color: var(--text-large-dark-theme);
    position: absolute;
    width: calc(100% + 2rem);
    left: -2rem;
    transform: rotate(-0.8deg);
    opacity: 0.4;
  }
}

nav {
  float: right;
  z-index: 10;
}

nav ul,
nav li {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

li.btn-holder {
  margin: 1.5rem 0;
}

nav li a {
  display: block;
  padding: 0.6rem 1rem;
  font-size: var(--text-large);
  color: var(--text-large-dark-theme);
  margin: 1rem;
}

.first-wide {
  bottom: -2rem;
  z-index: 2;
}

.first-narrow {
  position: relative;
  clear: both;
  bottom: -3.3rem;
}
.second-wide {
  z-index: 3;
}
.third-wide {
  z-index: 4;
}
.fourth-wide {
  z-index: 5;
}

.fourth-wide .button {
  margin-bottom: 2rem;
}

.final-wide {
  z-index: 7;
}

.wide {
  width: 100%;
  position: relative;
  background: var(--bg-dark-content);
}

.wide.theme {
  background: var(--bg-dark-theme);
}

.theme p,
.theme li {
  color: var(--text-medium-dark-theme);
}

.wide.reverse-theme {
  background: var(--bg-light-theme);
}

.reverse-theme p,
.reverse-theme li,
.reverse-theme a,
.reverse-theme blockquote,
.reverse-theme cite {
  color: var(--text-medium-light-theme);
}

.reverse-theme h1,
.reverse-theme h2,
.reverse-theme h3 {
  color: var(--text-medium-light-theme);
}

.wide .content {
  padding: 0rem 2rem 2rem;
}

.wide::before,
footer::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: rotate(-0.8deg);
  height: 100px;
  z-index: -1;
  top: -2rem;
  right: 0;
}

.wide::before {
  background: var(--bg-dark-content);
}

.wide.theme::before {
  background: var(--bg-dark-theme);
}

.wide.reverse-theme::before {
  background: var(--bg-light-theme);
}

footer .content {
  position: relative;
  z-index: 3;
}

footer {
  position: relative;
  min-height: 4rem;
  color: var(--text-medium-light);
  background: var(--bg-dark-theme);
  text-align: center;
  z-index:10;
}



footer p {
  margin: 0;
}

footer ul,
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul {
  text-align: right;
}

footer li {
  display: block;
}

.grid {
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: 2fr 2fr;
}

@media (max-width: 700px) {
  .grid {
    grid-column-gap: 0rem;
    grid-template-columns: 1fr;
  }
}

#stop-sign {
  width: 250px;
  height: 250px;
  position: absolute;
  z-index: 10;
  fill: var(--text-medium-dark-content-highlight);
}
div.content > .item:nth-child(2n) .words {
  padding: 0 0 0 2rem;
}

.feature-list .words {
  padding: 0 1rem 0 3rem;
}

figure.screenshot{
  margin: 0 0 2rem;
}

.feature-list figure.full-width {
  width: 100%;
  float: none;
  clear: both;
}

.item {
  float: left;
  width: 100%;
  margin-bottom: 4rem;
}

.feature-list .words,
.feature-list figure {
  float: left;
  margin: 0;
  width: 50%;
}

.feature-list figure.paw {
  text-align: left;
  padding-left: 4rem;
}

.page.narrow {
  padding: 0rem 2rem 5rem 2rem;
}

.page figure {
  margin: 0 0 2rem;
}

figure.border img {
  border: solid var(--bg-dark-theme) 0.4rem;
}

figure.frame {
  padding: 1rem;
  background: var(--bg-light-theme);
}

.reverse-theme figure.frame {
  background: var(--bg-dark-theme);
}
@media (max-width: 700px) {
  figure.frame {
    padding: 0.4rem;
  }
}

figure.frame.one img, figure.frame.one {
  -webkit-clip-path: polygon(0 0%, 100% 4%, 92% 100%, 0% 95%);
  clip-path: polygon(0 0%, 100% 4%, 92% 100%, 0% 95%);
}

figure.frame.two:nth-of-type(2n), figure.frame.two:nth-of-type(2n) img {
  -webkit-clip-path: polygon(8% 3%, 98% 0%, 99% 94%, 7% 96%);
  clip-path: polygon(8% 3%, 98% 0%, 99% 94%, 7% 96%);
}

figure.frame.three:nth-of-type(3n), figure.frame.three:nth-of-type(3n) img {
  -webkit-clip-path: polygon(0% 1%, 96% 2%, 96% 99%, 3% 92%);
  clip-path: polygon(0% 1%, 96% 2%, 96% 99%, 3% 92%);
}

.feature-list .item:nth-child(2n) .words,
.feature-list .item:nth-child(2n) figure,
.feature-list .item:nth-child(2n) figure img {
  float: right;
}

.feature-list .item:nth-child(2n) figure.paw {
  text-align: right;
  padding-right: 4rem;
}

.paw {
  opacity: 0.2;
  background: var(--bg-dark-theme);
  -webkit-mask-image: url(/img/paw-left.svg);
  mask-image: url(/img/paw-left.svg);
  mask-mode: alpha;
  -webkit-mask-mode: alpha;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  width: 10rem;
  height: 10rem;
  max-width: 25vw;
  max-height: 25vw;
}

.paw.odd {
  -webkit-mask-image: url(/img/paw.svg);
  mask-image: url(/img/paw.svg);
}

.cat-typing {
  -webkit-mask-image: url(/img/paw-left.svg);
  mask-image: url(/img/paw-left.svg);
  mask-mode: alpha;
  -webkit-mask-mode: alpha;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  max-width: 25vw;
  max-height: 25vw;
}

.cat-typing.odd {
  mask-image: url(/img/paw.svg);
}

.wide.mini-ctas .button {
  margin-bottom: 3rem;
}

.feature-list .cta {
  text-align: center;
  margin-bottom: 2rem;
  clear: both;
}

.attention-grab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3rem;
}

.persuader {
  text-align: center;
}

.persuader p.subtitle {
  margin-top: 2rem;
  line-height: 1;
}

.persuader p {
  margin: 0;
}

ul.tick-list {
  position: relative;
  max-width: 250px;
  margin: 1rem auto 0;
  padding-left: 0;
}

ul.tick-list li {
  font-size: var(--text-large);
  list-style: none;
  margin-bottom: 0em;
  width: 150%;
  padding: 0em 0 0 2.8em;
  background-image: url("/img/tick.svg");
  background-position: top left;
  background-repeat: no-repeat;
  min-height: 3em;
  background-size: 2.25em;
  display: inline-block;
  line-height: 2.1;
  font-family: omnes-cond, sans-serif;
  font-weight: 700;
}

@media (max-width: 700px) {
  .attention-grab {
    display: block;
    overflow-x: hidden;
  }
  ul.tick-list {
    padding-left: 0.25rem;
  }
  .persuader p.subtitle {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .feature-list .words,
  .feature-list figure {
    float: none;
    width: 100%;
    padding-left: 0;
  }
   .feature-list figure img {
    width: 100%;
    margin-bottom: 2rem;
  }

  .cat-typing {
    height: 50vw;
  }

  blockquote::before {
    top: -1.8rem;
    left: -1.5rem;
    font-size: 4.5rem;
  }

  blockquote {
    padding-left: 0;
    font-size: var(--text-large);
    margin-bottom: 1rem;
  }

  cite {
    max-width: none;
    line-height: 2;
    font-weight: 700;
  }

  cite img {
    width: 3rem;
    border-width: 0.15rem;
    margin-bottom: -1.2rem;
  }
}

cite a {
  text-decoration: underline;
}

.page {
  clear: both;
  text-align: center;
  padding: 2rem 4rem;
}


.ali-merlin {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
}

.ali-merlin {
  margin: 0;
}

.main-title {
  margin:5rem 0 2rem;
}

p.license {
  margin-top: 1.5rem;
  padding: 1rem;
  border: 1px solid white;
  color: var(--text-medium-light-theme);
  background: var(--bg-light-theme)
}

.hidden {
  display: none;
}

.loading {
  text-align: center;
}
