:root {
  --text-jumbo: 3rem;
  --text-large: 1.2rem;
  --text-medium: 20px;
  --text-small: 0.8rem;
  --line-height: 1.2;
  --box-width: 30rem;
  --outline-focus: #fafa00;

  --bg-dark-theme: #006060;
  --bg-dark-theme-border: #003d3d;
  --text-medium-dark-theme: #fff;
  --text-large-dark-theme: #fff;
  --text-medium-dark-theme-highlight: #edbec2;
  --text-large-dark-theme-highlight: #edbec2;

  --bg-light-theme: #eecfd1;
  --bg-light-theme-border: #f1d8da;
  --text-medium-light-theme: #111;
  --text-large-light-theme: #111;
  --text-medium-light-theme-highlight: #006060;
  --text-large-light-theme-highlight: #006060;

  --bg-dark-content: #003535;
  --bg-dark-content-border: #2f2f2f;
  --bg-dark-mid-content: #444;
  --text-medium-dark-content: #fff;
  --text-large-dark-content: #fff;
  --text-medium-dark-content-highlight: #edbec2;
  --text-large-dark-content-highlight: #edbec2;

  --bg-light-content: #fafafa;
  --bg-light-content-border: #ffffff;
  --bg-light-mid-content: #ccc;
  --text-medium-light-content: #111;
  --text-large-light-content: #111;
  --text-medium-light-content-highlight: #006060;
  --text-large-light-content-highlight: #006060;

  --content-bg-dark: #111;
  --bg-light: #edbec2;
  --content-bg-light: #eee;
  --bg-nyan: #036;
  --text-small-dark: #fff;
  --text-small-light: #aaaaaa;
  --text-small-nyan: #fff;
  --text-medium-dark: #fff;
  --text-medium-light: #111;
  --text-medium-nyan: #fff;
  --text-large-dark: #fff;
  --text-large-light: #000000;
  --text-large-nyan: #fff;
  --teal-darker: #006060;
  --pink: #d93b58;
  --text-highlight-dark: #edbec2;
  --text-highlight-dark-shadow: #f1d8da;
  --text-highlight-light: #006060;
  --text-highlight-light-shadow: #003d3d;
  --text-highlight-nyan: #dd91dc;
  --text-highlight-nyan-shadow: #ff3299;
}

.body-text {
  font-family: omnes-cond, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title-text {
  font-family: omnes-cond, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pre-text {
  font-weight: 400;
  font-style: normal;
}

.keypaws {
  color: var(--text-medium-dark);
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

/*
Core breakpoints
*/

@media (max-width: 900px) {
  :root {
    --text-medium: 18px;
  }
}

@media (max-width: 600px) {
  :root {
    --text-medium: 16px;
  }
}

@media (max-width: 480px) {
  :root {
    --default-20px: 16px;
    --pt-title: 1.8rem;
    --pt-subtitle: 1.2rem;
  }
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
  outline: 0;
}

*:focus {
  outline: 4px solid var(--outline-focus);
}

/*--------------------------------------------------------------
# Foundations
--------------------------------------------------------------*/

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  font-size: var(--text-medium);
  line-height: var(--line-height);
  text-rendering: optimizeLegibility;
  margin: 0;
  width: 100%;
  height: 100%;
  line-height: 1.4;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/*--------------------------------------------------------------
# Core Typography
--------------------------------------------------------------*/

body,
button,
label,
select,
option,
li,
span,
optgroup {
  font-family: omnes-cond, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
  background: var(--bg-dark-theme);
  color: var(--text-medium-dark-theme);
}

body.light {
  background: var(--bg-light-theme);
  color: var(--text-medium-light-theme);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: omnes-cond, sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

.quotes {
  text-align: center;
  padding-top: 3rem;
}

blockquote {
  margin: 0 auto;
  position: relative;
  max-width: 90%;
  padding-left: 4rem;
  text-align: left;
  font-size: var(--text-jumbo);
}

blockquote::before {
  content: '“';
  font-family: omnes-cond;
  line-height: 0.5;
  font-weight: 700;
  font-size: 6rem;
  position: absolute;
  top: 0;
  left: 0;
}

blockquote pre {
  font-family: omnes-cond, sans-serif;
  font-weight: 400;
} 

cite {
  text-align: right;
  width: 100%;
  display: block;
  max-width: 70%;
  margin: 0rem auto 3rem;
  font-size: var(--text-large);
  line-height: 1;
  font-style: normal;
}

cite img {
  display: inline;
  margin-right: 1rem;
  border-radius: 100%;
  border: solid 0.25rem var(--bg-light-theme-border);
  width: 4rem;
  margin-bottom: -1.8rem;
}

.holding .container {
  margin: 0 auto 0;
  position: relative;
  max-width: 30rem;
  padding-top: 3rem;
}

.holding header {
  position: absolute;
  top: 4rem;
  left: 7.5rem;
  overflow-x: hidden;
}

pre {
  margin: 0;
}

header h1,
header h2 {
  margin: 0;
}

header h2 {
  font-size: var(--text-large);
  color: var(--text-highlight-dark);
}

.welcome {
  margin-top: 1rem;
  border-top: 0.5rem solid var(--bg-dark);
}

.welcome p:first-child {
  margin: 1rem 0 0;
}

.kitty {
  position: absolute;
  bottom: 0;
  left: -30rem;
  opacity: 0.1;
  z-index: -1;
}

.signup {
  width: 30rem;
  padding: 3rem;
  background: white;
  margin: 0 auto;
  text-align: left;
}

form label {
  display: block;
  font-size: var(--text-medium);
  margin-bottom: 0.5rem;
}

form input {
  padding: 0.5rem 1rem;
  border-radius: 40px;
  margin-right: 10px;
  width: 100%;
  width: 65%;
  float: left;
  margin-bottom: 1rem;
  box-shadow: none;
  border: 0;
}

form input,
form button {
  font-size: var(--text-large);
}

button,
a.button {
  font-size: var(--text-large);
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 40px;
  display: inline-block;
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  background: var(--bg-light-theme);
  color: var(--text-large-light);
  box-shadow: 0 6px var(--bg-light-theme-border);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border-radius: 40px;
  text-decoration: none;
}

.opposite button,
.opposite .button {
  background: var(--bg-dark-theme);
  color: var(--text-large-dark);
  box-shadow: 0 6px var(--bg-dark-theme-border);
}

.opposite button:hover,
.opposite .button:hover {
  box-shadow: 0 4px var(--bg-dark-theme-border);
}

.light .opposite button,
.light .opposite .button {
  background: var(--bg-light-theme);
  color: var(--text-large-light);
  box-shadow: 0 6px var(--bg-light-theme-border);
}

.light .opposite button:hover,
.light .opposite .button:hover {
  box-shadow: 0 4px var(--bg-light-theme-border);
}

button:hover,
.button:hover {
  box-shadow: 0 4px var(--bg-light-theme-border);
  top: 2px;
}

button.medium,
.button.medium {
  padding: 20px 32px;
  font-size: var(--text-medium);
}

button.smaller,
.button.smaller {
  padding: 10px 16px;
  font-size: var(--text-small);
}

.light button,
.light a.button {
  background: var(--bg-dark-theme);
  color: var(--text-large-dark);
  box-shadow: 0 6px var(--bg-dark-theme-border);
}

.light button:hover,
.light a.button:hover {
  box-shadow: 0 4px var(--text-highlight-light-shadow);
  top: 2px;
}

.nyan button {
  background: var(--text-highlight-nyan);
  color: var(--text-large-light);
  box-shadow: 0 6px var(--text-highlight-nyan-shadow);
}

.nyan button:hover {
  box-shadow: 0 4px var(--text-highlight-nyan-shadow);
  top: 2px;
}

button::after,
.button::after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

header,
.content {
  max-width: 1200px;
  margin: 0px auto;
}

/* main.container {
  max-width: 1600px;
  overflow-x: hidden;
  margin: 0px auto;
} */

@media (max-width: 600px) {
  header.holding {
    left: 7.4rem;
  }
  form input {
    width: 100%;
    float: none;
  }
  button {
    float: none;
  }
}

@media (max-width: 480px) {
  header.holding {
    left: 6.4rem;
  }
}

header h1.logo {
  font-size: var(--text-jumbo);
  margin-top: 0.5rem;
  float: left;
  margin-left: 2.5rem;
}

.theme h1.logo {
  color: var(--text-large-dark-theme-highlight);
}

.light .theme h1.logo {
  color: var(--text-large-light-theme-highlight);
}

h1.logo a {
  text-decoration: none;
  color: inherit;
}

header h1.logo img {
  width: 4rem;
  margin: 0 0.75rem 0 0;
  position: relative;
  top: 1rem;
}

header h2.subtitle {
  color: var(--text-large-dark-theme);
  position: relative;
  width: 100%;
  text-align: center;
  
  margin: 2rem 0 0;
  z-index: 5;
  line-height: var(--line-height);
}

.subtitle {
  font-size: var(--text-jumbo);
  width: 100%;
  text-align: center;
}

.light header h2.subtitle {
  color: var(--text-large-light-theme);
}

.banner-box p {
  font-size: var(--text-large);
  text-align: center;
  width: 65%;
  margin: 0rem auto;
}

.banner-box a.button {
  margin: 1rem 0 0 0;
  position: relative;
  z-index: 10;
}

.buy-box {
  margin: 3rem auto 0;
  position: relative;
  width: 30rem;
  padding: 2.5rem 5rem 8rem;
  background: var(--bg-dark-content);
  border: 0.5rem solid var(--bg-dark-content-border);
  bottom: -2rem;
  z-index: 1;
}

.buy-box h2 {
  margin: 0;
}

.light .buy-box {
  background: var(--bg-light-content);
  border-color: var(--bg-light-content-border);
}

#Layer_1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  z-index: -1;
  fill: rgba(255, 255, 255, 0.05);
}

.light #Layer_1 {
  fill: rgba(0, 0, 0, 0.05);
}

header.banner {
  position: relative;
}

.banner-box {
  text-align: center;
  padding: 2rem 4rem 8rem;
  clear: both;
}

pre.homepage-kitty {
  font-size: var(--text-large);
  color: var(--text-large-dark-theme);
  position: absolute;
  bottom: 0rem;
  left: 2rem;
  transform: rotate(-1deg);
}

.light pre.homepage-kitty {
  color: var(--text-large-light-theme);
}

nav {
  float: right;
  z-index: 10;
}

nav ul,
nav li {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li a {
  display: block;
  padding: 0.6rem 1rem;
  font-size: var(--text-large);
  color: var(--text-large-dark-theme);
  margin: 1rem;
}

.light nav li a {
  color: var(--text-large-light-theme);
}

.home .first-wide {
  bottom: -2rem;
}

.first-wide {
  z-index: 2;
}
.second-wide {
  z-index: 3;
}
.third-wide {
  z-index: 4;
}
.fourth-wide {
  z-index: 5;
}

.fourth-wide .button {
  margin-bottom: 2rem;
}

.final-wide {
  z-index: 7;
}

.wide {
  width: 100%;
  position: relative;
  background: var(--bg-dark-content);
}

.wide.theme {
  background: var(--bg-dark-theme);
}

.wide.reverse-theme {
  background: var(--bg-light-theme)
}

.wide.reverse-theme p, .wide.reverse-theme li {
  color: var(--text-large-light-theme)
}

.light .wide.theme {
  background: var(--bg-light-theme);
}

.light .wide.reverse-theme {
  background: var(--bg-dark-theme);
}

.light .wide.reverse-theme p, .light .wide.reverse-theme li {
  color: var(--text-large-dark-theme)
}

.wide.tone {
  background: var(--bg-dark-mid-content);
}

.light .wide.tone {
  background: var(--bg-light-mid-content);
}

.light .wide {
  background: var(--bg-light-content);
}

.wide .content {
  padding: 0rem 2rem 2rem;
}

.wide::before,
footer::after {
  content: "";
  position: absolute;
  width: 110%;
  transform: rotate(-1deg);
  height: 100px;
  z-index: -1;
  top: -2rem;
  left: 0;
}

.wide::before {
  background: var(--bg-dark-content);
}

.wide.theme::before {
  background: var(--bg-dark-theme);
}

.wide.reverse-theme::before {
  background: var(--bg-light-theme);
}

.light .wide.theme::before {
  background: var(--bg-light-theme);
}

.light .wide.reverse-theme::before {
  background: var(--bg-dark-theme);
}

.wide.tone::before {
  background: var(--bg-dark-mid-content);
}

.light .wide::before {
  background: var(--bg-light-content);
}

.light .wide.tone::before {
  background: var(--bg-light-mid-content);
}

footer .content {
  position: relative;
  z-index: 3;
}

footer {
  position: relative;
  color: var(--text-medium-light);
  background: var(--bg-light-theme);
  text-align: center;
}

.light footer {
  background: var(--bg-dark-theme);
}

footer::after {
  background: var(--bg-light-theme);
  z-index: 0;
}

.light footer::after {
  background: var(--bg-dark-theme);
  z-index: 0;
}

footer p {
  margin: 0;
}

footer ul,
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul {
  text-align: right;
}

footer li {
  display: block;
}

.grid {
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: 2fr 2fr;
}

#stop-sign {
  width: 250px;
  height: 250px;
  position: absolute;
  z-index: 10;
  fill: var(--text-medium-dark-content-highlight);
}

.light #stop-sign {
  fill: var(--text-medium-light-content-highlight);
}

.wide.feature-list .words,
.wide.feature-list figure {
  float: left;
  margin: 0;
  padding: 0;
  width: 50%;
}

.wide.feature-list figure {
  text-align: left;
  padding-left: 4rem;
}

 
 

.wide.feature-list article:nth-child(2n) .words,
.wide.feature-list article:nth-child(2n) figure {
  float: right;
}

.wide.feature-list article:nth-child(2n) figure {
  text-align: right;
  padding-right: 4rem;
}

.cat-typing {
  mask-image: url(/img/paw-left.svg);
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  width: 25vw;
  height: 25vw;
}

.cat-typing.odd {
  mask-image: url(/img/paw.svg);
}

.wide.mini-ctas .button {
  margin-bottom: 3rem;
}

.feature-list .cta{
  text-align: center;
  margin-bottom: 2rem;
  clear: both;
}

.attention-grab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3rem;
}

.persuader {
  text-align: center;
}

.persuader p.subtitle {
  margin-top: 2rem;
  line-height: 1;
}

.persuader p {
  margin: 0;
}

ul.tick-list {
  position: relative;
  width: 100%;
  margin: 1rem auto 0;
}

ul.tick-list li {
  font-size: var(--text-large);
  list-style: none;
  margin-bottom: 0em;
  max-width: 40em;
  padding: 0em 0 0 2.8em;
  background-image: url("/img/tick.svg");
  background-position: top left;
  background-repeat: no-repeat;
  min-height: 3em;
  background-size: 2.25em;
  display: inline-block;
  line-height: 1.2;
  font-family: omnes-cond, sans-serif;
  font-weight: 700;
}

.light ul.tick-list li {
  background-image: url("/img/tick-white.svg");
}

